/*
Estilos da index.html*/

.center {
    text-align: center;
}

.container {
    font-size: 500px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}


/*
 Estilo da contato.html*/